{% extends 'Client_app/layout.html' %}
{% load i18n %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
<body background="https://www.juniordoctors.eu/themes/custom/ejd/images/ejd-home-header.jpg">

    <div class="features" style="margin-top:10%;">

        <p class="lead" style="text-align:center;font-weight:bold">{% trans "MAD-Clinic — нова багатопрофільна Клініка в Голосіївському районі Києва, в якій працюють лікарі за всіма медичними напрямками. Наша головна перевага — унікальний формат All in One. Прийшовши в Клініку, кожен наш пацієнт, дорослий або дитина, отримує повний комплекс медичних послуг в одній локації, навіть не виходячи з будівлі. На 12 поверхах сучасного медичного центру площею 11500 м² розташована поліклініка, дитяча поліклініка, вакцинаційний центр, власна лабораторія, операційні блоки, відділення інтенсивної терапії, стаціонар. Доступні всі види діагностики, педіатрична виїзна служба, невідкладна медична допомога. Наша мета — створити кращу Клініку в Києві, яка стане взірцем і буде своїм прикладом демонструвати нову медичну культуру і вищу якість сервісу. Ми прийшли стати першими!" %}</p>
        {% if user.is_authenticated %}
            <button class="bttn btn-warning" style="margin-left:auto;"><a href="{% url 'specialist' %}" style="color:black;">{% filter upper %}{% trans "Переглянути лікарів" %}</a></button>{% endfilter %}
        {% else %}
            <button class="bttn btn-warning" style="margin-left:auto;"><a href="{% url 'login' %}" style="color:black;">{% filter upper %}{% trans "Увійти" %}</a></button>{% endfilter %}<br>
            <button class="bttn btn-warning" style="margin-left:auto;"><a href="{% url 'register' %}" style="color:black;">{% filter upper %}{% trans "Зареєструватись" %}</a></button>{% endfilter %}
        {% endif %}

    </div>
</body>
{% endblock %}