{% extends 'Client_app/layout.html' %}
{% load i18n %}

{% block title %}Cторінка реєстрації{% endblock %}
{% csrf_token %}
{% block content %}

    <form method="post" class="form-control" style="width:100%;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Реєстрація" %}</button>
        {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class=".bg-danger.bg-gradient">{{ message }}</div>
            {% else %}
                <div class="bg-success p-2 text-white">{{ message.succes }}</div>
            {% endif %}

        {% endfor %}
        {% endif %}
    </form>

{% endblock %}