{% extends 'Client_app/layout.html' %}

{% block title %}Головна сторінка{% endblock %}
{% csrf_token %}
{% block content %}


{% if user.is_authenticated %}
    <div class="features">
        {% if doctor %}
        <form method="GET" style="margin-bottom:3%; margin-left:35%;">
            {{ filter_specialization.form }}
            <button type="submit" class="btn btn-warning">Знайти</button>
        </form>

            {% for el in filter_specialization.qs %}
                <div class="alert alert-secondary" style="width:50%;margin-left:auto;margin-right:auto;">
                    <h3 style="text-align:center;margin-left:auto;margin-right:auto;">{{ el.first_name }} {{ el.middle_name }} {{ el.last_name }}</h3>
                    <p style="text-align:center;">{{ el.speciality }}</p>
                    <a href="{{ el.specialist_template }}" class="btn btn-warning"style="background-color:yellow;margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%">Вибрати час для прийому</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Порожньо!</p>
        {% endif %}
{% else %}
        <p>Для вибору лікаря необхідно увійти в обліковий запис</p>
{% endif %}
    </div>

{% endblock content %}

